.btn {
    margin: 2px;
    color: rgb(164, 157, 157);
}
.block {
    display: flex;
    justify-content: center;
}
.button {
    margin-left: 20px;
    margin-bottom: 10px;
}

.input {
    width: 200px;
    height: 30px;
    margin-left: 5px;
}