.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.check {
    accent-color: #C56FFF;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.button {
    margin-left: 10px;
}